<footer class="footer">
        © <%= new Date().getFullYear(); %> artBeatz <span class="d-none d-sm-inline-block"> - Crafted with <i
                        class="mdi mdi-heart text-danger"></i> by Samyotech</span>.
</footer>